MARIADB_DATABASE=
MARIADB_USER=
MARIADB_PASSWORD=
MARIADB_ROOT_PASSWORD=
FORGEJO__server__DOMAIN=
FORGEJO__server__ROOT_URL=
FORGEJO__server__HTTP_PORT=
FORGEJO__server__SSH_DOMAIN=
FORGEJO__server__SSH_PORT=
FORGEJO__server__APP_DATA_PATH=
FORGEJO__security__SECRET_KEY=
FORGEJO__security__INTERNAL_TOKEN=
FORGEJO_ADMIN_USER=
FORGEJO_ADMIN_PASSWORD=
FORGEJO_ADMIN_EMAIL=
